body{
  max-width: 786px;
}

/* Image Fixed */
.img-scele-top {
  transition: 1s;
  scale: 0;
  opacity: 0;
}
.img-scele-bottom {
  transition: 1s;
  scale: 0;
  opacity: 0;
}
.img-scele-top.muncul {
  transition: 1s;
  animation: animasiScele 4s ease-in-out infinite;
  opacity: 100%;
}
.img-scele-bottom.muncul {
  transition: 1s;
  animation: animasiScele 4s ease-in-out infinite;
  opacity: 100%;
}
@keyframes animasiScele{
  0% {
    scale: 1;
    rotate: 0;
  }
  60% {
    scale: 1.1 1.08;
    rotate: -2deg;
  }
  100% {
    scale: 1;
  }
}
/* Section Home */
#home {
    /* background-color: aqua; */
    background-image: url("/img/bg.png");
    background-size: cover;
    height: 100vh;
    margin: 0;
    position: relative;

}

#home h2{
    font-family: 'Pacifico', cursive;
    font-size: 3em;
    padding-top: 100px;
    text-align: center;
    color: #3B486D;
    opacity: 0;
    transform: translate(0, -40px);
    transition: 0.9s;

}
#home h2.muncul{
  opacity: 100%;
    transform: translate(0, 0);
}

#text{
  font-size: 2.3em; z-index: 1;width: 100%; color: #3B486D; font-family: 'Great Vibes', cursive;
  opacity: 0;
}

.bunga .bg{
  opacity: 0;
  transition: 1.7s;
}
.bunga .bg.muncul{
  opacity: 100%;
}

@keyframes muncul {
  0% {opacity: 0;}
  50% {opacity: 0;}
  100% {opacity:100%}
}

/* Section Mempelai----------------------------------------------------- */
#mempelai{
  background-image: url("/img/bg.png");
    background-size: cover;
    /* background-color: rgb(180, 12, 116); */
    padding: 15px;
    height: 100vh;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
}

#mempelai .kartu {
  background-color: rgba(255, 255, 255, 0.1);
  height: 85vh;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 2;
  font-size: 0.8em;
  
}
#mempelai .kartu h1 {
  color: #3B486D;
  font-weight: 600;
  text-align: center;
  font-size: 1.3rem;
}
 /* Animasi Salam */
 #mempelai .salam {
  opacity: 0;
  transform: translate(0,-40px);
  transition: 1s;
 }

 #mempelai .salam.muncul {
  opacity: 100%;
  transform: translate(0,0);
 }

 @keyframes munculSalam {
  0% {scale: 0 0;}
  75% {scale: 1.05 1.05;}
  100% {scale: 1 1;}
 }
/* Animasi Tulisan */
 #mempelai .tulisan {
  opacity: 0;
  transform: translate(0,40px);
  transition: 1.5s ease-in-out;
 }

 #mempelai .tulisan.muncul {
  opacity: 100%;
  transform: translate(0,0);
 }

 /* Animasi Foto Mempelai */

 #mempelai .foto-pria{
  opacity: 0;
  transform: translate(-40px, 0);
  transition: 1.5s ease-in-out;
 }

 #mempelai .foto-pria.muncul{
  opacity: 100%;
  transform: translate(0, 0);
  animation: zoomInOut 2s ease-in-out infinite;
 } 

 #mempelai .foto-wanita{
  opacity: 0;
  transform: translate(40px, 0);
  transition: 1.5s ease-in-out;
 }
 #mempelai .foto-wanita.muncul{
  opacity: 100%;
  transform: translate(0, 0);
  animation : zoomInOut 2s ease-in-out infinite;
 }

 /* Animasi Nama Mempelai */
 #mempelai .nama-mempelai-pria {
  opacity: 0;
  transform: translate(0,-10px);
  transition: 1.5s;
  font-family: 'Great Vibes', cursive;
 }

 #mempelai .nama-mempelai-pria.muncul {
  opacity: 100%;
  transform: translate(0,0);
 }

 #mempelai .nama-mempelai-wanita {
  opacity: 0;
  transform: translate(0,-10px);
  transition: 1.5s;
  font-family: 'Great Vibes', cursive;
 }

 #mempelai .nama-mempelai-wanita.muncul {
  opacity: 100%;
  transform: translate(0,0);
 }
 /* Animasi Orang Tua Mempelai */

 #mempelai .ortu-mempelai-pria{
  opacity: 0;
  transform: translate(0,40px);
  transition: 1.5s ease-in-out;
 }
 #mempelai .ortu-mempelai-pria.muncul{
  opacity: 100%;
  transform: translate(0, 0);
 }
 #mempelai .ortu-mempelai-wanita{
  opacity: 0;
  transform: translate(0,40px);
  transition: 1.5s ease-in-out;
 }
 #mempelai .ortu-mempelai-wanita.muncul{
  opacity: 100%;
  transform: translate(0, 0);
 }

 #mempelai .love {
  scale: 0 0;
  transition: 1.5s;
 }
 #mempelai .love.muncul {
  scale: 1 1;
 }

 @keyframes zoomInOut{
  0% {scale: 1;}
  80% {scale: 1.05;}
  100% {scale: 1;}
 }


 





